/* || FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* || GENERAL */

html {
    font-size: 100%;
}

*{
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #F1F5F2;
    font-weight: none;
}

a:link {
    color:#F1F5F2 ;
}

a:visited {
    color: #F1F5F2;
}

a:focus {
    color: #F1F5F2;
}

a:hover {
    color: #979797;
}

/* || HEADER */

#header-element{
    z-index: 999999999;
    position: sticky;
    width: 100%;
    height: 91px;
    top: 0;
    color:#F1F5F2;
    background-color: #2B364A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alphastore-logo {
    margin-left: 32px;
    margin-right: 32px;
}

#alphacoins-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105px;
}
#alphacoins-status img{
    height: 50px;
    width: 50px;
}
#alphacoins-quantity{
    font-size: 34px;
}

#navigation-menu{
    margin-left: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation-menu a {
    font-size: 28px;
    margin-right: 28px;
}
#navigation-menu a img {
    width: 50px;
}

@media (max-width: 1000px){
    .collapsible-menu {
        display: none;
    }
}

/* || MAIN */

#page-body{
    display: flex;
    flex-direction: row;
}

/* navigation bar */


/* products list */

.products-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

/* product card */

.category-mug {
    color: #005fb6;
    background-color: #005fb6;
}

.category-botton {
    color: #d7b333;
    background-color: #d7b333;
}

.category-other {
    color: #b60000;
    background-color: #b60000;
}

.product-card{
    border: 2px solid;
    background-color: #f7f7f7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 233px;
    height: 324px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.product-category{
    width: 124px;
    line-height: 27px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #F1F5F2;
    border-radius: 0 0 8px 8px;
    text-align: center;
    margin-bottom: 25px;
}

.product-image{
    width: 100px;
    margin-bottom: 25px;
}

.product-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.product-description{
    font-family: 'Poppins', sans-serif;
    color: #353535;
    font-size: 16px;
}

.product-price {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-price img{
    width: 25px;
}
.product-price figcaption{
    font-weight: bold;
    color: black;
}

.product-buy-button{
    width: 124px;
    height: 27px;
    border-radius: 8px;
    margin: 5px;
    background-color: #2B364A;
}
.product-buy-button img{
    width: 19px;
    vertical-align: text-bottom;
}
