/* || FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* || GENERAL */

html {
    font-size: 100%;
}

* {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #F1F5F2;
    font-weight: none;
}

a:link {
    color:#F1F5F2 ;
}

a:visited {
    color: #F1F5F2;
}

a:focus {
    color: #F1F5F2;
}

a:hover {
    color: #979797;
}

/* || HEADER */

#header-element{
    font-family: 'Poppins', sans-serif;
    font-size: 2.35vh;
    z-index: 999999999;
    position: sticky;
    width: 100%;
    height: 10vh;
    top: 0;
    color:#F1F5F2;
    background-color: #2B364A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alphastore-logo {
    width: 13.02vh;
    margin-left: 32px;
    margin-right: 32px;
}

#user-menus{
    display: flex;
    width: 26vh;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}
#user-account-icon{
    width: 5.3vh;
    vertical-align: text-bottom;
}

/* || NAVIGATION BAR */

#navigation-menu{
    position: fixed; 
    width: 225px;
    height: 90vh;
    font-family: 'Poppins', sans-serif;
    color: #070000;
    font-size: 22px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

#navigation-menu ul {
    margin-top: 30px;
}

#navigation-menu a {
    font-size: 20px;
    color: inherit;
}
#navigation-menu a img {
    width: 50px;
}

#alphacoins-status{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 105px;
    margin: 0;
}
#alphacoins-status img{
    height: 50px;
    width: 50px;
}
#alphacoins-quantity{
    font-size: 34px;
}


/* || MAIN */

#page-body{
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin-left: calc(225px + 28px); /* same as side navigation bar width + margin */
    margin-right: 534px; /* same as shoppin cart side bar width */
}


/* || MAIN || PRODUCT LIS */

/* products list structure */

.products-list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

/* product card unity */

.category-mug {
    color: #005fb6;
    background-color: #005fb6;
}

.category-botton {
    color: #d7b333;
    background-color: #d7b333;
}

.category-other {
    color: #b60000;
    background-color: #b60000;
}

.product-card{
    border: 2px solid;
    background-color: #f7f7f7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 233px;
    height: 324px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.product-category{
    width: 124px;
    line-height: 27px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #F1F5F2;
    border-radius: 0 0 8px 8px;
    text-align: center;
    margin-bottom: 25px;
}

.product-image{
    width: 100px;
    margin-bottom: 25px;
}

.product-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.product-description{
    font-family: 'Poppins', sans-serif;
    color: #353535;
    font-size: 16px;
}

.product-price {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-price img{
    width: 25px;
}
.product-price figcaption{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.product-buy-button{
    width: 124px;
    height: 27px;
    border-radius: 8px;
    margin: 5px;
    background-color: #2B364A;
}
.product-buy-button img{
    width: 19px;
    vertical-align: text-top;
}

/* || MAIN || SHOPPING CART */

#shopping-cart {
    width: 534px;
    height: 80vh;
    border-radius: 8px 0 0 8px;
    position: fixed;
    right: 0;
    top: 15vh;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

#shopping-cart-title{
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: 1px solid black;
}
#shopping-cart-title img{
    width: 26px;
    vertical-align: text-bottom;
    margin-right: 10px;
}

#shopping-cart-items{
    height: 54%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#shopping-cart-items img{
    width: 21px;
    vertical-align: text-bottom;
}

.shopping-cart-total {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shopping-cart-total img{
    width: 21px;
    vertical-align: text-bottom;
}

#postal-code-information input{
    width: 232px;
    height: 30px;
    padding-left: 8px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
}
#postal-code-information button{
    width: 108px;
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    color: #f7f7f7;
    background-color: #2B364A;
}

#shopping-cart-close-deal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.end-purchase{
    width: 220px;
    height: 45px;
    font-size: 20px;
    color: #f7f7f7;
    border: none;
    border-radius: 8px;
}
.end-purchase img{
    vertical-align: text-bottom;
}
.cancel-button{
    background-color: #e24b2d;
}
.ok-button{
    background-color: #2B364A;
}