/* || GENERAL */

html {
    font-size: 100%;
}

*{
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #F1F5F2;
    font-weight: none;
}

a:link {
    color:#F1F5F2 ;
}

a:visited {
    color: #F1F5F2;
}

a:focus {
    color: #F1F5F2;
}

a:hover {
    color: #979797;
}

/* || HEADER */

#header-element{
    z-index: 999999999;
    position: sticky;
    width: 100%;
    height: 91px;
    top: 0;
    color:#F1F5F2;
    background-color: #2B364A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alphastore-logo {
    margin-left: 32px;
    margin-right: 32px;
}

#alphacoins-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105px;
}
#alphacoins-status img{
    height: 50px;
    width: 50px;
}
#alphacoins-quantity{
    font-size: 34px;
}

#navigation-menu{
    margin-left: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation-menu a {
    font-size: 28px;
    margin-right: 28px;
}
#navigation-menu a img {
    width: 50px;
}

@media (max-width: 1000px){
    .collapsible-menu {
        display: none;
    }
}

/* || MAIN */

h1 {
    font-size: 64px;
    text-align: center;
    margin: 30px;
}

/* products list */

.products-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

/* product card */

.product-card{
    color: #2B364A;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content:space-between;
}
.product-image{
    width: 150px;
    height: 150px;
}

.product-price {
    display: flex;
    align-items: center;
}
.product-price img{
    width: 25px;
}
.product-price figcaption{
    font-weight: bold;
}

.product-description{
    font-size: 18px;
}

.product-buy-button{
    width: 100%;
    background-color: #2B364A;
}
.product-buy-button img{
    width: 25px;
}




/* op 2 */

.product-card-2 {
    color: #2B364A;
    border: 2px solid #2B364A;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.product-description-2{
    font-size: 18px;
    padding: 2px;
    color: #F1F5F2;
    border-radius: 0 0 2px 2px;
    background-color: #2B364A;
}
